@import "fonts.css";

* {box-sizing: border-box;}

body {
	color: #000;
	font: 300 20px/28px 'Aller', 'Myriad Pro', Helvetica, Arial, sans-serif;
	background: #a79f9b url(../img/body-bg.jpg) no-repeat;
	background-size: 100% 100%;
	padding-top: 50px;
}

figure, p, h1, h2, body {
	margin: 0;
}

ul, menu, input {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	display: block;
}

.header-navigation, .header-navigation input, .swiper-block input, .footer-column .title, .footer-column input, .footer-column textarea, .copyright span:first-of-type {
	text-transform: capitalize;
}

.portfolio-nav, .footer-column .submit {
	text-transform: uppercase;
}

.header .container:after, .portfolio-nav:after, .portfolio-nav .years:after,
.main-text:after, .footer-table:after,
.footer-column form:after, .copyright:after {
	content: '';
	clear: both;
	width: 100%;
	display: table;
}

.wrapper {
	width: 1140px;/*&&&&&&&&&&&&&&&&&&*/
	background-color: rgba(0,0,0,0.2);
	margin: 0 auto;
}

.header-navigation, .main, .footer {
	background-color: rgba(0,0,0,0.5);
}

/*.container {
	padding: 0 90px 0 90px;
}*/

/*start .header*/
/*start .header-top*/
.header-top .container {
	padding: 32px 100px 34px 100px;
	position: relative;
	font-size: 0;
	line-height: 0;
	letter-spacing: -.3em;
}

.logo, .header-section {
	display: inline-block;
	vertical-align: middle;
}

.logo a {
	display: block;
	background: url(../img/logo.png) no-repeat;
	width: 247px;
	height: 54px;
}

.header-section {
	width: calc(100% - 247px);
	text-align: right;
}

.header-section .box{
	display: inline-block;
	margin-left: 30px;
}

.header-section .box:first-child {
	margin-left: 0;
}

.header-section .text span {
	color: #fff;
	font-size: 11px;
	line-height: 11px;
}

.header-section .text span:first-of-type {
	font-weight: 700;
}

.header-section .like-post {
	font-size: 0;
	line-height: 0;
	letter-spacing: -.3em;
}

.header-section .like-post li {
	display: inline-block;
}

.header-section .like-post li:first-of-type {
	position: relative;
	margin-right: 6px;
}

.header-section .like-post a,.like-post .number {
	font-size: 11px;
	line-height: 11px;
}

.header-section .like-post .like {
	color: #3b5998;
	padding: 4px 5px 5px 20px;
	background-color: #eCeef5;
	border: 1px solid #c9d3e6;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.header-section .like-post .fb {
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	background: url(../img/sprite.png) 0 0;
}

.like-post .number {
	background: #efefef;
	padding: 1px 7px 2px 7px;
	border: 1px solid #c1c1c1;
	position: relative;
}

.like-post .number:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0px 6px 7px;
	border-color: transparent transparent #efefef transparent;
	position: absolute;
	top: 25%;
	right: 100%;
	transform: translateX(2px);
	z-index: 1;
}

.like-post .number:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 7px 8px;
	border-color: transparent transparent #c1c1c1 transparent;
	position: absolute;
	top: 24%;
	right: 100%;
	transform: translateX(1px);
}

.header-section .social {
	font-size: 0;
	line-height: 0;
	letter-spacing: -.3em;
	transform: translateY(25%);
}

.header-section .social li {
	display: inline-block;
	margin-left: 4px;
}

.header-section .social li:first-of-type {
	margin-left: 0;
}

.header-section .social a {
    width: 16px;
    height: 16px;
    display: block;
    background: url(../img/sprite.png);
}

.header-section .social a.rss {
    background-position: 1px -25px;
}

.header-section .social a.twitter {
    background-position: -17px -25px;
}

.header-section .social a.fb {
    background-position: -33px -25px;
}

.header-section .social a.tp {
    background-position: -48px -25px;
}

.header-section .social a.l-in {
    background-position: -65px -25px;
}
/*end .header-top*/

/*start .header-navigation, portfolio-nav*/
.header-navigation {
	-webkit-box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.5);
}

.header-navigation .container {
	padding: 7px 100px 7px 90px;
}

.header-navigation menu, .portfolio-nav menu, .portfolio-nav .months {
	float: left;
	font-size: 0;
	line-height: 0;
	letter-spacing: -.3em;
}

.header-navigation li, .portfolio-nav li, .portfolio-nav .months li {
	display: inline-block;
}

.header-navigation a {
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	padding: 8px 15px 8px 15px;
	border-left: 1px solid rgba(0,0,0,0.4);
}

.header-navigation li:last-child a {
	border-right: 1px solid rgba(0,0,0,0.4);
}

.header-navigation .active {
	padding-right: 28px;
	background: url(../img/sprite.png) no-repeat 80px -80px;
}

.header-navigation a:hover {
	text-decoration: underline;
}

.portfolio-nav {
	background: #904c7a;
}

.portfolio-nav .container {
	padding: 0 90px;
}

.portfolio-nav .years a {
	float: left;
	color: #d3b7ca;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	padding: 24px 10px 24px 10px;
}

.portfolio-nav a.active.m, .portfolio-nav .months a:hover {
	color: #fff;
	background: #512b44;
}

.portfolio-nav a.active.y, .portfolio-nav a:hover {
	color: #fff;
	background: #6c395b;
}

.portfolio-nav .months {
	display: block;
	background: #6c395b;
}

.portfolio-nav .months a {
	color: #d3b7ca;
	font-weight: 500;
	font-size: 11px;
	line-height: 11px;
	padding: 30px 10px 25px 10px;
}

.header-navigation input {
	float: right;
	color: #9b9b9b;
	font-size: 11px;
	line-height: 11px;
	border: 0;
	width: 150px;
	padding: 7px;
	background: #fff url(../img/sprite.png) no-repeat 133px -50px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
/*end .header-navigation*/
/*end .header*/

/*start .main*/
.main {
	background: #fff;
	padding: 0 100px 0 100px;
}

/*start .swiper*/
.swiper-container {
	overflow: visible;
}

.swiper-box {
	overflow: hidden;
}

.swiper-wrapper {
	padding-top: 50px;
}

.swiper-block {
	width: 220px;
	margin-right: 20px;
}

.swiper-block .post,.swiper-block figure, .swiper-block .date {
	margin-bottom: 20px;
}
.swiper-block img {
	display: block;
}

.swiper-button-prev, .swiper-button-next {
	top: 105px;
	height: 125px;
	width: 30px;
}

.swiper-button-prev {
	left: -60px;
	right: auto;
	background: url(../img/swiper_prev.png) no-repeat;
}

.swiper-button-next {
	right: -60px;
	left: auto;
	background: url(../img/swiper_next.png) no-repeat;
}


.swiper-block .date {
	font-size: 14px;
	line-height: 14px;
	color: #000;
	display: block;
}

.swiper-block .date span {
	color: #b8b8b8;
}

.swiper-block figure {
	width: 220px;
	height: 120px;
	position: relative;
}

.swiper-block figure p {
	background: rgba(0,0,0,0.4);
	position: absolute;
	bottom: 0;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	padding: 8px 10px 8px 10px;
}

.swiper-block .post, .swiper-block .post-info input {
	color: #666666;
}

.swiper-block .post {
	font-size: 13px;
	line-height: 18px;
}

.swiper-block .post-info input, .swiper-block .post-info .quote, .swiper-block .post-info span {
	display: inline-block;
}

.swiper-block .post-info input {
	font-size: 11px;
	line-height: 11px;
	padding: 5px 8px;
	background-color: #f8f8f8;
	border: 5px solid #eee;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(204,204,204,1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(204,204,204,1);
	box-shadow: inset 0px 0px 0px 1px rgba(204,204,204,1);
}

.swiper-block .post-info .quote {
	margin-left: 10px;
	vertical-align: middle;
	width: 17px;
	height: 17px;
	background: url(../img/sprite.png) no-repeat -18px -55px;
}

.swiper-block .post-info span {
	font-size: 11px;
	line-height: 18px;
}
/*end .swiper*/

.main-text {
	padding: 50px 0 55px 0;
	border-top: 1px solid #e5e5e5;
	margin-top: 50px;
	font-size: 24px;
	line-height: 26px;
}

.main-text p {
	max-width: 65%;
	float: left;
}

.main-text .baner {
	float: right;
}

.main-text .baner img {
	display: block;
}
/*end .main*/

/*start .footer*/
.footer .container {
	padding: 25px 100px 18px 100px;
}

.footer-column {
	width: 300px;
	color: #fff;
	float: left;
	margin-right: 20px;
}

.footer-column:last-of-type {
	margin-right: 0;
}

.footer-column .title {
	display: block;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 20px;
}

.footer-column p {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 10px;
	padding-right: 10px;
}

.footer-column p:last-of-type {
	margin-bottom: 0;
	font-size: 15px;
	line-height: 20px;
	padding: 5px 0 0 30px;
	background: url(../img/quotes.png) no-repeat 0 0;
}

.footer .img-gallery {
	font-size: 0;
	line-height: 0;
	letter-spacing: -.3em;
}

.footer-column figure {
	display: inline-block;
	border: 4px solid #fff;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin: 0 10px 10px 0;
}

.footer-column figure:nth-of-type(3), .footer-column figure:nth-of-type(4) {
	margin-bottom: 0;
}

.footer-column figure:nth-of-type(2n) {
	margin-right: 0;
}

.footer-column img {
	display: block;
}

.footer-column form {
	padding: 11px 11px 15px 11px;
	background-color: rgba(0,0,0,0.5);
}

.footer-column .row {
	font-size: 0;
	line-height: 0;
	letter-spacing: -.3em;
}

.footer-column input, .footer-column label, .footer-column textarea {
	font-size: 11px;
	line-height: 11px;
	color: #aaa;
}

.footer-column input, .footer-column textarea {
	background: #fff;
	padding: 5px 9px 6px 9px;
	border: none;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.footer-column .text {
	width: 168px;
	margin-bottom: 7px;
}

.footer-column textarea {
	width: 100%;
	height: 70px;
	margin-bottom: 15px;
}

.footer-column label {
	padding-left: 10px;
}

.footer-column .submit {
	padding: 8px 9px 7px 9px;
	background-color: #f0f0f0;
	border: 1px solid #b2b2b2;
	float: right;
}

.footer-bar {
	margin-top: 70px;
	border-top: 1px solid #b2b2b2;
	padding-top: 20px;
}

.copyright, .footer-bar span {
	font-size: 0;
	line-height: 0;
	letter-spacing: -.3em;
	display: block;
}

.footer-bar span, .footer-bar a {
	display: inline-block;
}

.footer-bar span, .footer-bar a {
	font-size: 11px;
	line-height: 11px;
	letter-spacing: .1px;
	color: #aaa;
}
.copyright span:last-child {
	float: right;
}